@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200&display=swap');

.row {
    height: 90%;
}

.section-headers {
    font-family: "Bebas Neue";
    color: red;
    font-size: 4em;
    text-align: center;
    padding-top: 40px;
}

/* Intro Page */
#intro {

    font-size: 6em;
    font-family: 'Bebas Neue';
    color: red;
    text-align: center;
    position: relative;
}

#intro h2 {
    font-size: 30px;
    font-family: 'Bebas Neue';
    color: white;
}

text.legendTitle {
    font-size: 22px;
    font-family: 'Helvetica Neue';
    fill: white;
}

.d3-tip {
    line-height: 1;
    font-weight: bold;
    padding: 12px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    content: "\25BC";
    position: absolute;
    text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
}



/* Scroll Icon */
/* https://codepen.io/nxworld/pen/OyRrGy */
#intro span {
    position: absolute;
    top: 80%;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: sdb07 2s infinite;
    animation: sdb07 2s infinite;
    opacity: 0;
    box-sizing: border-box;
}
#intro span:nth-of-type(1) {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}
#intro span:nth-of-type(2) {
    top: 83%;
    -webkit-animation-delay: .15s;
    animation-delay: .15s;
}
#intro span:nth-of-type(3) {
    top: 86%;
    -webkit-animation-delay: .3s;
    animation-delay: .3s;
}
@-webkit-keyframes sdb07 {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes sdb07 {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/* Background */
.card {
    width: 60em;
    height: 18em;
    margin: 0 auto;
    float: none;
}

.card-body {
    font-size: 1em;
    font-family: helvetica, arial;
    color: black;
    text-align: center;
    position: relative;
}


/* Content Diversity */
#content-diversity {
    font-size: 1em;
    font-family: helvetica, arial;
    color: white;
    text-align: center;
}

.name {
    font-size: 40px;
    font-family: helvetica, arial;
}

.value {
    font-size: 40px;
    font-family: helvetica, arial;
}

/* Viewer Enjoyment */
#viewer-enjoyment {
    font-size: 1em;
    font-family: helvetica, arial;
    color: white;
    text-align: center;
}

#viewer-enjoyment p {
   margin-top: 40%;
}

.rating-guess {
    padding-top: 30px;
    padding-bottom: 15px;
}

.rating-actual{
    display: none;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
}

#movie-ratings {
    padding-right: 50px;
}

#show-ratings {
    padding-left: 50px;
}

.table {
    padding-top: 50px;
    border-radius: 5px;
    width: 50%;
    margin: 0px auto;
    float: none;
    display: none;
}

tr {
    color: white;
}

/* International Presence */
#worldMap {
    height: 71vh;
    width: 100%;
}

#stacked-area-chart {
    height: 71vh;
    width: 100%;
}

.tooltip {
    position: absolute;
    text-align: center;
    font: 12px sans-serif;
}
.tooltip h3,h4 {
    text-align: left;
}
.tooltip h4 {
    font: 14px sans-serif;
}

/* Recommendations */
.recs-row {
    height: 90%;
    width: 100%;
}

.inline-block {
    display: inline-block;
}

br {
    display: none;
}

    /* Netflix icons */
.icons {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

    /* Netflix icon names */
.names{
    font-family: "Helvetica Neue";
    font-size: 1em;
    color: white;
    text-align: center;
    padding-top: 15px;
}

    /* Hover effect for all images */
img {
    border: solid 5px transparent;
}

img:hover {
    border: solid 1px white;
}

    /* Top Picks heading */
.top-picks {
    display: none;
    font-size: 20px;
    font-family: "Helvetica Neue";
    font-weight: bold;
    color: lightgray;
    text-align: left;
    padding-top: 60px;
    padding-left: 20px;
}

    /* Switch Account button */
#switch {
    display: none;
    float: right;
    margin-top: 6%;
    margin-right: 2%;
}

    /* Movie/Show photos */
.recs {
    display: none;
}

.clearfix::after{
    clear: both;
}

.inline-block .recs {
    margin-right: -5px;
}

.first {
    margin-left: 15px;
}

/* Acknowledgements */






