@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.section {
    font-size: 1em;
    font-family: helvetica, arial;
    color: white;
    text-align: center;
    position: relative;
}


/* Intro Page */
#intro {

    font-size: 6em;
    font-family: 'Bebas Neue';
    color: red;
    text-align: center;
    position: relative;
}

h2 {
    font-size: 30px;
    font-family: 'Bebas Neue';
    color: white;
}


/* Scroll Icon */
/* https://codepen.io/nxworld/pen/OyRrGy */
#intro span {
    position: absolute;
    top: 80%;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: sdb07 2s infinite;
    animation: sdb07 2s infinite;
    opacity: 0;
    box-sizing: border-box;
}
#intro span:nth-of-type(1) {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}
#intro span:nth-of-type(2) {
    top: 83%;
    -webkit-animation-delay: .15s;
    animation-delay: .15s;
}
#intro span:nth-of-type(3) {
    top: 86%;
    -webkit-animation-delay: .3s;
    animation-delay: .3s;
}
@-webkit-keyframes sdb07 {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes sdb07 {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/* Background Info */
.background {
    font-size: 1em;
    font-family: helvetica, arial;
    color: white;
    text-align: center;
    position: relative;
}

/* Viewer Enjoyment */
#viewer-enjoyment {
    font-size: 1em;
    font-family: helvetica, arial;
    color: white;
    text-align: center;

}

#viewer-enjoyment h1 {
    font-family: 'Bebas Neue';
    color: red;
    font-size: 4em;
    padding-left: 50px;
    padding-top: 40px;
    padding-bottom: 50px;
}

.rating-guess {
    padding-top: 20px;
    padding-bottom: 15px;
}

.rating-actual{
    display: none;
    padding-top: 15px;
    padding-bottom: 15px;
}

#movie-ratings {
    padding-right: 50px;
}

#show-ratings {
    padding-left: 50px;
}